.closer-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    align-items: center;
    flex: 1;
    margin-bottom: 1px;
}


.closerinfocontainer {
    display: flex;
    flex-direction: column;

}





.playerimagecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    /* Ensure the images do not overflow */
}

.playerimages a {
    width: calc(33.33% - 10px);
    /* Adjusted width with some spacing */
    margin: 5px;
    /* Adjust margin between images */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* Remove underline from links */
}



.players-container {
    text-align: center;
}

.players-container p {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 48px;

}

.players-open {
    opacity: 0;
    /* Start with opacity 0 to hide */
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;

    /* Fade-in animation */
}

.closerinfo {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 3s;
}

.closerinfo>section>span {
    width: 90px;
    height: 70px;
    perspective: 500px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    border-radius: 25px;
    /* Adjust the border radius value */
}

.players-exact {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 6.5s;
}

.players-look {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 7s;
}


#playersreveal {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 8s;
}

#pitcherreveal {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 9s;
}

#homerunsreveal {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 10s;
}


.closerData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.closerDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



:root {
    --black: rgb(0 0 0);
    --dark-navy: rgb(26 28 60);
    --navy: rgb(45 54 77);
    --navy-bg: rgb(86 94 115);
    --gray: rgb(167 167 167);
    --white: rgb(255 255 255);
    --yellow: rgb(255 181 0);
    --light-yellow: rgb(255 209 98);
}

.closerrevealhomerunbutton {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("/public/cespedes.gif");
    background-repeat: no-repeat;
    background-position: center center;
    /* Center the background image */
    background-color: white;
    color: transparent;
    /* Set initial text color to transparent */
    cursor: pointer;
    display: block;
    position: relative;
    border: 4px solid var(--light-yellow);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 24px 12px 12px;
    width: 250px;
    height: 250px;
    text-align: center;
    /* Align text in the center */
    overflow: hidden;
    letter-spacing: 0.08em;
    text-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 0 rgb(0 0 0 / 20%);
    white-space: nowrap;
    word-wrap: break-word;
    /* Wrap text when it exceeds the box width */
    transition: background-position 2s ease, color 0.5s ease;

    &:hover {
        background-position: calc(100% + 500px), calc(0% - 100px);
        color: var(--black);
    }
}


.closerrevealpitcherbutton {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("/public/nestor.gif");
    background-repeat: no-repeat;
    background-position: center center;
    /* Center the background image */
    background-color: white;
    color: transparent;
    cursor: pointer;
    display: block;
    position: relative;
    border: 4px solid var(--light-yellow);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 24px 12px 12px;
    width: 250px;
    height: 250px;
    text-align: left;
    /* Corrected */
    overflow: hidden;
    letter-spacing: 0.08em;
    text-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 0 rgb(0 0 0 / 20%);
    white-space: nowrap;
    transition: background-position 2s ease, color 0.5s ease;


    &:hover {
        background-position: calc(100% + 600px), calc(0% - 100px);
        color: var(--black);
    }
}


.closerrevealplayerbutton {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("/public/allstars.gif");
    background-repeat: no-repeat;
    background-position: center center;
    /* Center the background image */
    background-color: white;
    color: transparent;
    cursor: pointer;
    display: block;
    position: relative;
    border: 4px solid var(--light-yellow);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 24px 12px 12px;
    width: 250px;
    height: 250px;
    text-align: left;
    /* Corrected */
    overflow: hidden;
    letter-spacing: 0.08em;
    text-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 0 rgb(0 0 0 / 20%);
    white-space: nowrap;
    transition: background-position 2s ease, color 0.5s ease;


    &:hover {
        background-position: calc(100% + 600px), calc(0% - 100px);
        color: var(--black);
    }
}