

h1,
h2 {
    text-align: center;
}

.scoreContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    margin-bottom: 1px;
}

.awayTeamLogo,
.homeTeamLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awayTeamLogo img,
.homeTeamLogo img {
    width: 100px;
    height: 100px;
}

.awayTeamLogo p,
.homeTeamLogo p {
    margin-top: 10px;
    font-family: 'Changa One', sans-serif;
    font-size: 4vw;
}

.scoreContainer img {
    width: 8vw;
    height: auto;
}





.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
}

.item {
    flex: 1;
    /* Let items grow to fill available space */
}




.gameStory {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}

/* Style the iframe to fill its container */
.gameStory iframe {
    width: 100%;
    height: 100%;
}

.individualInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: scroll; */


}

.nongameData {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gameInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.gameData {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gameData>div {
    flex: 1;
    margin: 0 vh;
    /* Add margin between the two divs */

}

.homeruncontainer h3 {
    text-align: center;
}

.gameData h3 {
    text-align: center;
}

.pitchersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.awayTeamPitcher .homeTeamPitcher {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awayTeamPitcher img,
.homeTeamPitcher img {
    width: 10vw;
    height: auto;
}


.homeruns {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

}

.homerunitems {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}