@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


h1,
h2 {
    text-align: center;
}

.scoreContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    margin-bottom: 5px;
        padding-left: 30%;
        padding-right: 30%;
}

.awayTeamLogo,
.homeTeamLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.awayTeamLogo img {
    width: 100px;
    height: 100px;
    padding-right: 10%;
}
.homeTeamLogo img {
    width: 100px;
    height: 100px;
    padding-left: 10%;
}

.vs {
    font-size: 6vw;

}

.awayTeamLogo p {
    margin-top: 10px;
    font-family: 'Changa One', sans-serif;
    font-size: 4vw;
}
.homeTeamLogo p {
    margin-top: 10px;
    font-family: 'Changa One', sans-serif;
    font-size: 4vw;
}

.scoreContainer img {
    width: 8vw;
    height: auto;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.item {
    flex: 1;
}

.gameStory {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}

.gameStory iframe {
    width: 100%;
    height: 100%;
}

.individualInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.nongameData {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gameInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.gameData {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gameData>div {
    flex: 1;
    margin: 0 vh;

}

.homeruncontainer h3 {
    text-align: center;
}

.gameData h3 {
    text-align: center;
}

.pitchersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.pitchervs {
    padding: 3%;
}

.pitchersummaryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pitchersummary {
    margin-top: 10px;
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to bottom, white 29px, #00b0d7 1px);
    background-size: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
    -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
    -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 70px;
        height: 100%;
        width: 1px;
        background: #db4034;
    }

    header {
        height: 150px;
        width: 100%;
        background: white;
        position: absolute;
        top: 0;
        left: 0;

        h1 {
            font-size: 60px;
            line-height: 60px;
            padding: 127px 20px 0 160px;
        }
    }

    #content {
        margin-top: 67px;
        font-size: 20px;
        line-height: 30px;

        p {
            margin: 0 0 30px 0;
        }
    }

}
.awayTeamPitcher .homeTeamPitcher {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awayTeamPitcher a,
.homeTeamPitcher a {
    align-items: center;

}
.awayTeamPitcher img,
.homeTeamPitcher img {
    width: 10vw;
    height: auto;
}



.homeruns {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

}

.homerunitems {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}