.crudgamescontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addgame {
    width: 40%;
    align-items: start;
    text-align: center;

}





.card-body {
    display: flex;
    /* Use flexbox layout */
    flex-direction: column;
    /* Arrange children elements vertically */
    align-items: center;
    /* Center children elements horizontally */
    justify-content: center;
    /* Center children elements vertically */
    text-align: center;
    /* Center text content */
}

.icon-container {
    display: flex;
    justify-content: center;
    /* Center icons horizontally */
}

.view-button,
.delete-button {
    cursor: pointer;
    border: none;
    font-size: 24px;
    /* Adjust the size as needed */
    margin-left: 10px;
    /* Add margin for spacing */
    /* Remove borders */
}

.seengameslist {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 5%;
    gap: 5%;
    flex-wrap: wrap;

}

.cards {
    border-radius: 25px;
    border: 3px solid #9fc089;
    background-color: #ffdc7c;
    color: rgb(58, 55, 55);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background-image: url("/public/grass.png");
    /* Assuming the image is located in the public directory */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



.teamLogo {
    width: 50px;
    height: 50px;
}






#btn-23 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #01184a;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}


#btn-23 {
    border-radius: 88rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.4rem 1rem;
    position: relative;
}