.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.profile-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group-profile {
    margin-bottom: 10px;
    padding-left: 17%;

}

.error {
    color: red;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}


.mm-popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 3px solid #ff0000;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mm-popup--visible {
    opacity: 1;
    visibility: visible;
}

.mm-popup__box {
    text-align: center;

}

.mm-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
}

.mm-popup-close:hover {
    color: #333;
}

.profile-container button {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #01184a;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 70%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
    border-radius: 88rem;
    overflow: hidden;
    padding: 0.4rem .5rem;
    position: relative;
    width: 50%
}

.profile-container button:hover {
    background-color: #0056b3;
}

.profile-container .mm-popup__close {
    display: none;

}